html, body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 1rem;
}

header {
    position: fixed;
    display: flex;
    height: 3rem;
    align-items: center;
    margin: 0px;
    background-color: #000;
    color: white;
    width: 100%;
    z-index: 50;
}

nav {
    width: 100%;
    padding: none;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#nav-right-mobile {
    display: none;
}

#menu-icon {
    height: 3rem;
}

#nav-left {
    margin-left: 1.5rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    justify-content: flex-end;
    margin: 0px 1rem 0px 0px;
}

ul li {
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0px 1rem;
}

main {
    position: absolute;
    width: 100%;
    height: 100%;
}

#banner {
    width: auto;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#banner-image {
    background-image: url("/Resources/banner-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    grid-area: 1 / 1 / 3 / 3;
    z-index: 0;
    position: sticky;
}

#darken {
    background-color: #000;
    height: 100%;
    opacity: 0.6;
    z-index: 1;
    grid-area: 1 / 1 / 3 / 3;
}

#banner-content {
    z-index: 2;
    opacity: 1;
    grid-area: 1 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100%;
}

#presentation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
    width: 100%;
    max-width: 30rem;
}

#presentation-text {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#levedoper-photo{
    width: 50%;
    border-radius: 50%;
    border: 0.4rem solid #F47851;
}

#presentation-more {
    background-color: #F47851;
    text-align: center;
    padding: 1.5rem 3rem;
    border-radius: 2rem;
    box-sizing: content-box;
}

#presentation-more:hover {
    background-color: #ff9c7e;
}

#more-button-text {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
}

/* INTRODUCTION */

#intro-anchor {
    margin-top: -3rem;
}

#introduction {
    margin-top: 3rem;
    background-color: #242333;
}

.information-layout-container {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.information-layout-box {
    width: 35%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.information-text {
    color: white;
    text-align: center;
    justify-content: center;
}

.information-link {
    text-decoration: none;
    color: white;
    background-color: #F47851;
    padding: 1rem;
    border-radius: 1rem;
}

.information-link:hover {
    background-color: #ff9c7e;
}

#BB p {
    color: #F47851;
    font-size: 3rem;
    font-weight: 1000;
    letter-spacing: 0.1rem;
    text-align: center;
}

#mysterious-organism-img {
    width: 100%;
}

#social-media {
    width: 2rem;
    height: 2rem;
}

#twitter-icon {
    width: 100%;
    height: 100%;
}

/* footer */

footer {
    background-color: #303030;
    color: white;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 0.7rem;
}

/* responsiveness */
@media only screen and (min-width:320px) and (max-width: 961px) and (min-resolution: 175dpi) {
    html, body {
        font-size: 60px;
    }
    #nav-right {
        display: none;
    }

    #nav-right-mobile {
        display: inline;
    }

    .information-layout-container {
        flex-direction: column;
        width: auto;
    }

    .information-layout-box {
        width: auto;
        height: auto;
        width: auto;
        margin: 1rem;
    }
    #BA {
        flex-direction: column-reverse;
    }
}

@media only screen and (max-height: 800px) {
    #levedoper-photo {
        width: 30%;
    }
}